<h1>Editar Consulta</h1>
<% form_for(@consulta, "/consulta/update/#{@consulta.id}") do |f| %>

  <%= partial 'consulta/form', :locals => { :f => f } %>

  <%= f.submit "Save Edition", :class => "btn btn-primary" %>
  <%= link_to 'Cancel', url_for(:consulta, :my), :class => "btn btn-secondary" %>
<% end %>