<h1>Mis Consultas</h1>
<table class="table table-bordered">
	<tr>
		<th>Title</th>
		<th>Description</th>
		<th>Job Offer</th>
	</tr>
	<% @consultas_encontradas.each do | consu| %>

	<tr>
			<td>
			<%= consu.title %>
		</td>
		<td>
			<%= consu.description %>
		</td>	
		<td>
			
		</td>		
		<td>
		<%= link_to 'Edit', url_for(:consulta, :edit, :consu_id => consu.id), :class => "btn btn-primary" %>
			<%- form_tag url(:consulta, :destroy, :consu_id => consu.id), :method => :delete, :style => 'display:inline' do %>
                <button type='submit' title="Delete offer" rel='tooltip' class="btn btn-secondary" >Delete
                </button>
       <% end %>
		</td>	
	</tr>

  <% end %>



</table>